<div id="content-part">
    <div id="mid">
        <div class='nav-bar'>
            <%= render 'shared/navbar' %>
        </div>
        <div id="center-part">
          <%= yield %>
        </div>
    </div>
</div>