<div id="footer-part">
    <div class="footer-bar">
        <div class="left">
            <ul>
                <li>© copyright 2013</li>
                <li class="last">Aviko Cup 2013</li>
            </ul>
        </div>
        <div class="right">
            <p>Ontwerp &amp; Realisatie: vv SIOL</p>
        </div>
        <div class="clear"></div>
        </div>
    </div>
</div>